@import "tailwindcss";
@font-face {
  font-family: "CabinetGrotesk";
  src:
    url("./assets/fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("./assets/fonts/CabinetGrotesk-Variable.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; 
}

@theme {
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  --color-amarillo: #f8d94a;
  --color-verde: #99ce4a;
  --color-celeste: #5ac1ee;
}
